<%- include nav.ejs %>

        <div class="jumbotron" style="padding-top:5%;">
                <div class="container">
                        <h1>Banner Image</h1>

                </div>
        </div>

        <div style="padding:2%;">

                <h1>About us</h1>
                <div>
                        <p>"Every day you make a number of purchases as a customer of any number of businesses. Sometimes you give feedback on your experiences through a platform like Google, Tripadvisor, or even Facebook or other services.</p>
                </div>
                <div>
                        <p>At Voyajay our value offering for you is simple. We want to save you money on your everyday purchase and make you money for the valued feedback you provide to businesses</p>
                </div>        
        
                <div>
                        <h3>How does it work?</h3>       
                        <p>You register (NOTE: please link this back to the home page) as a Voyajay Customer Journey Expert.</p>
                        <p>We contact you with opportunities to purchase, save and earn.</p>
                        <p> You choose to take part if it saves you money, and you want to make some extra money.</p>
                        <p>Then, we look after the rest!</p>
                        <h3>What about an example?</h3>
                        <p>Tony likes Pizza. In fact, he likes pizza so much he eats it twice a week.</p>       
                        <p>A pizza business near Tony's house is opening up and wants feedback on it's customer journey, both online (through it's website) and through its physical store. It wants to know about everything from ordering, customer service, delivery and most importantly the quality of its pizza!</p>        
                        <p>The pizza business works with Voyajay to design a digital customer feedback journey for it's target customers (the Tony's of this world).</p>       
                        <h3>This might look like:</h3>
                        <p>10% of every Pizza Order you make under $20;</p>
                        <p>And $2.5 of store credit if you fill it out the businesses short quality questionnaire online.</p>
                        <p>Tony sees the Pizza offer and decides to participate.</P>        
                        <h3>Over the course of the month Tony saves:</h3>
                        <p>$12 a month on his usual pizza purchases; AND</p>
                        <p>Earns $20 in store credit.</p>
                        <p>Nothing changes - Tony still gets his usual Pizza hit, but with Voyajay he gets rewarded for his feedback and business, and the business prospers as it receives feedback and continued business. We think that is a win-win."</P>                
                </div>
        </div>

<%- include footer.ejs %> 