

<%- include nav.ejs %>

        <div class="jumbotron" style="padding-top:5%;">
                <div class="container">
                        <h1>Banner Image</h1>

                </div>
        </div>

        <div style="padding:2%;">

                <h1>Legal page</h1>
        </div>
