<%- include navigation.ejs %>

<div class="main-div">
    <div class="hero-image">
        <div class="hero-text">
          <h1 style="font-size:50px">Voyajay</h1>
          <p>this is legal page</p>
        </div>
      </div>