
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voyajay</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/formstyle.css' />
    <link rel='stylesheet' href='/stylesheets/datepicker.css' />

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/"><img src="images/Logoh.png" style="width:50%;"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" style="padding:12px">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/legal">Legal</a></li>
            </ul>
            </div>
        </div>
    </nav>