

        <%- include nav.ejs %>
            
    <div class="container-fulid">
            <div class="row">
                <div class="frontview">
                    <h1>Voyajay</h1>
                    <h3>The Customer Journey Experts</h3>
                    <h1>Succefully Submitted</h1>
                    
                </div>
            </div>
    </div>



</body>
</html>