/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 10%;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00aced;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 120px;
    background: #00aced;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #00aced;
}

#msform .action-button-previous {
    width: 120px;
    background: deeppink;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px deeppink;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #00aced;
    color: white;
}



.form-group{
    text-align: left !important; 
    position: relative;
    margin-bottom: 4rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 15px 0 0 15px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

/*----------radio button image ------*/

.inline-radio {
    display: flex;
    flex-wrap: wrap;
  border-radius: 3px;
     margin-left:6px;
  }
  
  .radio-btn{
  padding: 10px;
  display: flex;
  
  }


label{
    padding-left: 5px !important;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}



.highschool{background-image:url('../images/highschool-1.png');
width: 40px !important;}
.tertiary{background-image:url('../images/tertiary.png');
width:40px !important;}
.tafe{background-image: url('../images/tafe.png');
width:40px !important;}
.none {background-image: url('../images/none.svg');
    width:40px !important;}
.emial{background-image: url(https://cdn.iconscout.com/icon/free/png-256/gmail-26-599443.png);
width:40px !important;}
.m-phone{background-image: url(http://hotel.lecoq-gadby.com/wp-content/uploads/2018/02/telephone.png);
width: 40px !important;}


.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.5);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


.cc-selector ul{
    display: flex;
    text-decoration: none;
    width: 100%;
}

.cc-selector li{
    list-style: none;
    width: 25%;
    text-align: center;
}

a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

#highschool , #tertiary, #tafe, #none , #emial, #m-phone{
    border:none !important;
    display: none;
}

.imgbtntxt{
    position: relative;
    top: 44px;
    margin-left: -12px !important;
}

.confirmation{
    display: none;
    text-align: center;
    color: brown;
    margin-top: 5%;
}

#filedsetfirsterr{
    display: none;
    text-align: center;
    color: red;
    margin-top: 5%;
}

#filedsetsecerr{
    display: none;
    text-align: center;
    color: red;
    margin-top: 5%;
}

#secondform .form-group{
    margin-bottom: 2rem;
}

#thirdform .form-group{
    margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 8px 0 0 15px;
    transition: all 200ms;
    opacity: 0.5;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0%;
}
}



@media screen and (max-width: 900px) {
#msform{    margin-top: 22%;}
.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 8px 0 0 15px;
    transition: all 200ms;
    opacity: 0.5;

}

}

